header, nav {
	width: 80%;
	margin: auto;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.login-area{
	font-size: 18pt;
	padding-right: 50px;
	padding-top: 50px;
	position: relative;
	float: right;

}

.login-area a{
	font-size: 18px;
	color: black;
}

.login-area a:hover{
	color: green;

}
.navbar a:hover{
	background-color: forestgreen;
}

section {
	width: 80%;
	margin: auto;
	margin-top:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: auto;
	padding-bottom: 10px;
	border-radius: 8px;
	padding-top: 20px;
}

article{
	padding-left: 20px;
}

article div p{
	color: gray;
	margin: auto;

}

article div p.product{
	font-weight: bolder;
}

.info, .servicos {
	vertical-align: top;
	border-style: solid;
	border-width: 0.8px;
	border-color: lightgray;
	margin: 10px;
	padding: 10px;
	margin-right: 25px;
	border-radius: 15px ;
	min-height: 200px;
	margin-bottom: 20px;
}

h2{
	margin-top: 0;
	margin-left: 20px;
}

.foto{
	width: 20%;
	margin: auto;
	display: inline-grid;

}
.foto img{
	width: 100%;
}
.descricao{
	width: 30%;
	margin-top: 40px;
	margin-left: 20px;
	display: inline-grid;
	vertical-align: top;
}

label{
	font-weight: bold;
	font-size: 12pt;
}
label p{
	display: inline-grid;

}

table{
	width: 100%;
	margin-bottom: 10px;
}

td, th{
	font-size: 14pt;
	color: black;
	font-weight: normal;
	padding: 5px;
}

th{
	font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

footer {
	text-align: center;
	font-size: 14px;
	color: grey;
}